---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hux - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/liuv_avatar.png">
				<h1>Liuv</h1>
				<p>A postgraduate  major in Virtualization & Cloud Computing,<br>
					focus on OpenStack development.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">paper,paper,paper</h2>
							<time>2015.10</time>
							<img src="images/cloud_compute.jpg">
							<ul>
								<li>
									之前在做nova组件中nova scheduler服务的分析,目前在导师的实验室做云环境中虚拟机迁移方面的研究,当前的主要任务是看论文，做实验，找问题，解决问题。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>云</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="http://liuvblog.com">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2 id="Development">Internship in VMWare</h2>
							<time>2015.07</time>
							<img src="images/vmware.png">
							<ul>
								<li>
									参与了VIO（VSphere Intergation OpenStack）项目
									自行搭建VCloud环境并对VCloud提供的API进行研究
									参与了OpenStack社区中senlin项目的开发，负责placement policy模块的开发
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>V</b></span>
									<span class="i-vue"></span>
									<span class="link"><a target="_blank" href="http://vmware.com">VMWare</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>Reproduce</h2>
							<time>2015.06</time>
							<img src="images/bug.jpg">
							<ul>
								<li>
									该漏洞存在于2012.02版本以前的nova代码中，恶意用户可以通过该漏洞实现DOS攻击，造成nova scheduler服务的瘫痪
									通过对漏洞进行重现，定位缺陷代码的位置，提出解决方案
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>DOS</b></span>
									<span class="link"><a target="_blank" href="https://bugs.launchpad.net/nova/+bug/1017795">Link</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">Mechine Learning</h2>
							<time>2015.05</time>
							<img src="images/ml.jpg">
							<ul>
								<li>研一下有幸选上了王厚峰老师的机器学习课程，对机器学习来了次亲密接触</li>
								<li>用SVM，bayes以及KNN三种分类算法实现了对用户评价的情感分类</li>
								<li>基于LSI主题模型与凝聚聚类算法实现了Weps人名消歧，最终F值达到了0.8326</li>
								<li>基于CRF(条件随机场)的命名实体识别</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>分</b></span>
									<span><b>聚</b></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>H264编解码</h2>
							<time>2014.12</time>
							<img src="images/h264.jpg">
							<ul>
								<li>在课程大作业中和同学们一起开发了一个在线课堂系统，负责视频流编解码部分，主要任务是在服务器端对视频流进行编解码，并对视频画面合并技术进行了探索。</li>
								<li class="skill">
									<span><b>H264</b></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="http://liuvblog.com">View</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>PKU</h2>
							<time>2014.09</time>
							<img src="images/kaoyan.jpg">
							<ul>
								<li>
									经过差不多一年的考研生涯，最终如愿以偿的考入北京大学软件与微电子学院。从此，我在北京的精彩生活就开始了……
								</li>
								<li class="skill">
									<span>BJ</span>
									<span>PKU</span>
									<span class="link"><a target="_blank" href="http://www.ss.pku.edu.cn/">Link</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>Development</h2>
							<time>2014.07</time>
							<img src="images/law.jpg">
							<ul>
								<li>在万方法规部参与全球法律法规网的二次开发,这是一个典型SSH架构的WEB项目</li>
								<li>由于网站后台数据库进行了重构，我主要负责服务器端数据库接口的适配</li>
								<li>另外还对开发过程中发现的bug进行了修复</li>
								<li class="skill">
									<span class="cbp_tmicon-font"></span>
									<span><b>SSH</b></span>
									<span class="link"><a target="_blank" href="http://policy.mofcom.gov.cn/">View</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>CSU</h2>
							<time>2010.09</time>
							<img src="images/csu.jpg">
							<ul>
								<li>在18岁那年，有幸考上了中南大学，成为了软件学院的一名学生</li>
								<li>在大学度过了四年的快乐时光，玩的很开心，期间搞了搞学习，完成了几个小项目</li>
								<li class="skill">
									<span><b>CSU</b></span>
									<span class="link"><a target="_blank" href="http://www.csu.edu.cn/">Link</a></span>
								</li>
							</ul>
						</div>
					</li>
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
